.Contacts {
    display: inline-block;
}
.Contact {
    border: 2px solid lime;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.Contact img {
    height: 200px;
    float: left;
    margin-right: 10px;
}